
<div class="row justify-content-center">
  <div class="col-md-4 mt-5">
    <mat-card class="text-center">
      <mat-card-title>
        <span class="text-main">Adicionar Item</span>
      </mat-card-title>
      <mat-divider></mat-divider>
      <mat-card-content>
        <form [formGroup]="itemForm" (submit)="createItem()">
          <div class="text-center mt-4">
            <mat-form-field appearance="outline" class="col-8">
              <mat-label>Nome do item</mat-label>
              <input type="text" matInput formControlName="name" />
              <mat-error
                *ngIf="
                  itemForm.get('name')?.touched &&
                  itemForm.get('name')?.errors?.['required']
                "
              >
                Preenchimento obrigatório
              </mat-error>
            </mat-form-field>
          </div>
          <div class="text-center">
            <mat-form-field appearance="outline" class="col-8">
              <mat-label>Valor do item</mat-label>
              <input type="text" matInput formControlName="value" />
              <mat-error
                *ngIf="
                  itemForm.get('value')?.touched &&
                  itemForm.get('value')?.errors?.['required']
                "
              >
                Preenchimento obrigatório
              </mat-error>
            </mat-form-field>
          </div>
          <mat-card-actions class="text-center">
            <button type="submit" class="btn btn-primary btn-block w-25 mx-4">
              Submeter
            </button>
          </mat-card-actions>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
