<mat-drawer-container class="h-100">
  <mat-drawer #drawer style="width: 150px" class="d-flex bg-dark" mode="side">
    <div class="container h-25 text-center mt-2">
      <button mat-fab color="">
        <span class="fs-2">
          {{ userInSession.firstName | slice: 0:1 }}
          {{ userInSession.lastName | slice: 0:1 }}
        </span>
      </button>
      <p class="pt-2 word-break text-white">{{ userInSession.fullName }}</p>
    </div>
    <div class="mt-4 text-center text-white">
      <div class="mb-2">
        <button
          (click)="redirectToHome(); drawer.toggle()"
          class="text-capitalize"
          mat-button
        >
          <mat-icon>home</mat-icon>
          home
        </button>
      </div>
      <div class="mb-2">
        <button
          (click)="logout(); drawer.toggle()"
          class="text-capitalize"
          mat-button
        >
          <mat-icon>logout</mat-icon>
          logout
        </button>
      </div>
    </div>
  </mat-drawer>

  <div *ngIf="userInSession.email; else teste">
    <div
      class="container-fluid sticky-top d-flex py-2 bg-dark shadow-lg justify-content-between"
    >
      <button type="button" mat-icon-button (click)="drawer.toggle()">
        <mat-icon class="fs-1 text-white">menu</mat-icon>
      </button>
      <div class="fs-2 fw-bolder align-self-center text-white link-cursor" (click)="redirectToHome()">Invoice Follower</div>
    </div>
  </div>

  <ng-template #teste>
    <div
      class="sticky-top d-flex flex-row py-2 bg-dark shadow-lg justify-content-between py-4 px-4"
    >
      <div class="fs-2 fw-bolder text-white">
        Invoice Follower
      </div>
      <div class="text-white">
        Se ja é cadastrado realize o 
        <span class="link-primary link-cursor text-uppercase" (click)="redirectToLogin()">login</span>
        , caso contrário, <span class="link-primary link-cursor text-uppercase" (click)="redirectToRegister()">registre-se</span>
      </div>
    </div>
  </ng-template>

  <router-outlet></router-outlet>
</mat-drawer-container>
