<div *ngIf="loading" class="container">
  <mat-card>
    <mat-card-title *ngIf="invoice.name; else other">
      {{ invoice.name.toUpperCase() }}
    </mat-card-title>
    <ng-template #other>
      <mat-card-title class="text-muted" #other>
        #{{ invoice.id.toUpperCase() | slice: 0:8 }}
      </mat-card-title>
    </ng-template>

    <div class="my-2">
      <mat-card-subtitle *ngIf="invoice.created_at !== invoice.updated_at"
        >Last updated at:
        {{
          invoice.updated_at | date: "dd/MM/yy' às 'HH:mm:ss"
        }}</mat-card-subtitle
      >

      <mat-card-subtitle
        >Created at:
        {{
          invoice.created_at | date: "dd/MM/yy' às 'HH:mm:ss"
        }}</mat-card-subtitle
      >
    </div>

    <mat-card-content>
      <div
        class="row justify-content-center my-4"
        *ngFor="let item of invoice.items"
      >
        <div class="col-8">{{ item?.name }}</div>
        <div class="col-2">
          {{ item?.value | currency: "BRL" }}
        </div>
        <mat-icon class="col-2" (click)="deleteItemFromInvoice(item)"
          >delete</mat-icon
        >
      </div>

      <div class="row justify-content-center">
        <mat-form-field class="col-8">
          <mat-label>Item name</mat-label>
          <input matInput #name />
        </mat-form-field>
        <mat-form-field class="col-2">
          <span matPrefix>R$ &nbsp;</span>
          <mat-label>Value</mat-label>
          <input matInput #value />
        </mat-form-field>
        <mat-icon
          (click)="addItemToInvoice(name?.value, value?.value)"
          class="col-2 align-self-center"
          >add</mat-icon
        >
      </div>
    </mat-card-content>
    <mat-card-actions class="">
      <div class="d-flex justify-content-around">
        <button mat-raised-button (click)="redirectToDashboard()">
          Cancel
        </button>
        <button mat-raised-button color="warn" (click)="deleteInvoice(invoice)">
          Delete Invoice
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
