<div class="d-flex">
  <div class="container mt-4">
    <div class="text-start">
      <button mat-raised-button
      (click)="redirectToCreate()">
        <mat-icon>add</mat-icon>
        Create invoice
      </button>
    </div>
    <div *ngFor="let invoice of invoices">
      <div
        class="my-5 row bg-light bg-gradient bg-opacity-75 rounded-pill d-flex justify-content-between"
      >
        <div class="col-10 fs-4 align-self-center text-center">
          <span> {{ invoice.name }} {{ invoice.id }} </span>
        </div>
        <div class="col-2 text-end my-2">
          <button mat-button color="">View</button>
        </div>
      </div>
    </div>
  </div>
</div>
